VITE_SUPABASE_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjaWN3b2Rsd3BnbWtjZ2dweXVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5MjUxMzUsImV4cCI6MjEwMjUwMTEzNX0.GgbzAyKCixXRKop2MdYOb_-ErC-RokqFnBYlzZuPTDk
VITE_SUPABASE_ANON_KEY=sb_publishable_V0M3zKUwWjv6ogE1dpb5tw_FezpeRT3